.profile-pic {
    width: inherit; 
    height: auto;
}

.img-container {
    width: 100%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-container {
    margin-left: 5%;
    margin-right: 5%;
}

.profile-text {
    font-size: 20px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
}

.profile-name {
    font-size: 30px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400; 
    
}

.position {
    font-size: 20px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic; 
    color: #44afd6;
}

.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    row-gap: 50px;
}

.profile-row {
    display: grid; 
    grid-template-columns: 1fr 3fr; 
}